/*
==============
Colors
===============
*/
// Dark mode
$base-primary-dk: #0c0c18;
$font-primary-dk: #bcccdc;
$btn-primary-dk: #48647f;

// Light mode
$base-alpha-li: #5b9ed9;
$base-beta-li: #324d67;
$font-primary-li: #102a42;
$btn-primary-li: #b75c32;
$btn-secondary-li: #708090;
$btn-other-li: #4c5c96;
$background-color: #f8f8ff;
$white: #fff;

//Logo
$logo-blue-li: #4169e1;
$logo-red-li: #b22222;
