/*
==============
Colors
===============
*/
// Dark mode
$font-primary-dk: #bcccdc;
$btn-primary-dk: #48647f;

// Light mode
$font-secondary-li: #435b71;
$font-red-li: #61063f;
$btn-primary-li: #b75c32;
$btn-secondary-li: #708090;
$btn-other-li: #4c5c96;
$background-secondary-color: #170940;
$white: #fff;
$hover: #2f2556;
$font-grey-li: hsla(0, 0%, 100%, 0.35);
// #102a42

$font-primary-dk: #f60040;
$font-links-dk: #5b9ed9;
$font-links-dk-other: #324d67;
$font-titles-dk: #f60040;
$underline-dk: #9e9eff;
$off-white: #f8f8ff;
$background-color-about: #0a253e;
$background-color-projects: #22184c;
$background-color-blog: #190d44;
$outline-dk: #94b1b9;
$container-bg-dk: #121b26;
$base-primary-dk: #0c0c18;
$base-secondary-dk: #140840;
$base-tertiary-dk: #3f0740;
$service-hover: #150941;
$grey: #bcccdc;
$motto-grey: #ccc8d0;
$footer-grey: #222;
