@import "./colors.scss";
@import "./variables.scss";

/*
==============
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $ff-secondary;
  line-height: 1.5;
  font-size: 0.875rem;
  color: $font-primary-li;
  margin-top: 5rem;
  background-color: $background-color;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: $ff-titles;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  letter-spacing: 0.1em;
}

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: $base-beta-li;
}
.section-title {
  margin-bottom: 1rem;
  text-align: center;
}

.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1300px;
}

.underline {
  width: 7rem;
  height: 0.25rem;
  background: $hover;
  margin: 0 auto 1.25rem;
}

.about-page,
.blog-page,
.blog-template,
.contact-page,
.error-page,
.projects-page {
  background: $white;
  min-height: calc(100vh - 14rem);
}
/*
===============
Navbar
===============
*/
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  z-index: 200;
  background: transparent;
}
.nav-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-header img {
  margin-bottom: 0.375rem;
}
.nav-links {
  display: none;
}
.toggle-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: $base-beta-li;
  cursor: pointer;
  transition: $transition;
}
.toggle-btn:hover {
  color: $btn-primary-li;
}
.nav-links {
  display: none;
}

@media screen and (min-width: $tablet-width) {
  .toggle-btn {
    display: none;
  }
  .nav-links {
    display: flex;
    justify-content: flex-end;
  }
  .nav-links li {
    margin-right: 2rem;
  }
  .nav-links a {
    text-transform: capitalize;
    color: $base-beta-li;
    font-weight: bold;
    letter-spacing: $spacing;
    transition: $transition;
    padding: 0.5rem 0;
    font-size: 1rem;
  }
  .nav-links a:hover {
    color: $base-beta-li;
    box-shadow: 0px 2px $btn-primary-li;
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
}

// @media screen and (min-width: 992px) {
//   .navbar {
//     background: transparent;
//   }
// }

/*
===============
Sidebar
===============
*/
.sidebar {
  background: $base-alpha-li;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: $transition;
  transform: translateX(-100%);
}
.show-sidebar {
  opacity: 1;
  transform: translateX(0);
}
.sidebar-links li {
  opacity: 0;
}
.sidebar-links li a {
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: $font-primary-li;
  letter-spacing: $spacing;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  transition: $transition;
  border-radius: $radius;
}
.sidebar-links li a:hover {
  background: $base-beta-li;
  color: $btn-primary-li;
}
.close-btn {
  position: absolute;
  right: 4.75%;
  top: 2.75%;
  font-size: 2.5rem;
  background: transparent;
  border-color: transparent;
  color: $btn-secondary-li;
  cursor: pointer;
}
@media screen and (min-width: $desktop-width) {
  .sidebar {
    transform: translateX(-100%);
  }
}
/*
===============
Sidebar Animation
===============
*/
.sidebar-links li {
  animation: slideRight 0.5s ease-in-out 0.3s forwards;
}
.sidebar-links li:nth-of-type(1) {
  animation-delay: 0.25s;
}
.sidebar-links li:nth-of-type(2) {
  animation-delay: 0.5s;
}
.sidebar-links li:nth-of-type(3) {
  animation-delay: 0.75s;
}
.sidebar-links li:nth-of-type(4) {
  animation-delay: 1s;
}
.sidebar-links li:nth-of-type(5) {
  animation-delay: 1.25s;
}
@keyframes slideRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.sidebar-icons li {
  opacity: 0;
  animation: slideUp 0.5s ease-in-out 0.3s forwards;
}
.sidebar-icons li:nth-of-type(1) {
  animation-delay: 0.25s;
}
.sidebar-icons li:nth-of-type(2) {
  animation-delay: 0.5s;
}
.sidebar-icons li:nth-of-type(3) {
  animation-delay: 0.75s;
}
.sidebar-icons li:nth-of-type(4) {
  animation-delay: 1s;
}
.sidebar-icons li:nth-of-type(5) {
  animation-delay: 1.25s;
}
@keyframes slideUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*
===============
Button styles
===============
*/
.brk-btn {
  position: relative;
  background: none;
  color: $font-primary-dk;
  background-color: $btn-primary-li;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.3em solid $btn-other-li;
  padding: 0.75em 1.5em;
  box-shadow: $dark-shadow;
  border-radius: 0.35rem;
}
.brk-btn::before {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #2e3141;
  height: 0.35em;
  right: 10%;
  top: -0.35em;
  transform: skewX(-45deg);
  -webkit-transition: all 0.55s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.55s cubic-bezier(0.86, 0, 0.07, 1);
}
.brk-btn::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #222;
  height: 0.35em;
  left: 10%;
  bottom: -0.35em;
  transform: skewX(45deg);
  -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
.brk-btn:hover::before {
  right: 85%;
}
.brk-btn:hover::after {
  left: 85%;
}
.btn-center {
  margin: 0 auto;
  display: block;
  width: 12rem;
  text-align: center;
  margin-top: 3rem;
}
/*
===============
Social Links
===============
*/

.social-links {
  margin-top: 2rem;
  width: 15rem;
  display: flex;
  justify-content: space-between;
}

.social-link {
  font-size: 1.75rem;
  // color: var(--clr-grey-1);
  transition: $transition;
}
// .social-link:hover {
//   color: var(--clr-primary-5);
// }

/*
===============
Hero
===============
*/
.hero {
  margin-top: -5rem;
  padding-top: 5rem;
  height: 100vh;
  background: url("../assets/HeroBackgroundDark.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.hero-center {
  height: 100%;
  display: grid;
  align-items: center;
}

.hero .underline {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
.hero-info {
  max-height: 100%;
}
.hero-img {
  display: none;
  border: 5px solid $btn-primary-li;
  border-radius: 30%;
}
.hero-info .typing-titles {
  color: $font-primary-li;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.hero-icons {
  justify-items: flex-start;
}
.hero .brk-btn {
  margin-top: 1.25rem;
}

@media screen and (min-width: $tablet-width) {
  .hero-center {
    grid-template-columns: repeat(12, 1fr);
  }

  // .hero h4 {
  //   font-size: 0.85rem;
  // }
  .hero-info {
    grid-row: 1/1;
    grid-column: 3 / span 12;
  }
  .hero-img {
    display: block;
    grid-row: 1/1;
    grid-column: 8/-1;
    width: 200px;
  }
}
@media screen and (min-width: $desktop-width) {
  // .hero h4 {
  //   font-size: 1rem;
  //   line-height: 1;
  // }

  .hero-img {
    width: 350px;
  }
}

/*
===============
Services
===============
*/
.service {
  background: $white;
  padding: 3rem 1.5rem;
  margin: 2rem 0;
  border-radius: $radius;
  text-align: center;
  -webkit-transition: $transition;
  transition: $transition;
}
.service-icon {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.service .underline {
  width: 3rem;
  height: 0.12rem;
  -webkit-transition: $transition;
  transition: $transition;
}
.service p {
  -webkit-transition: $transition;
  transition: $transition;
}
.service:hover {
  background: $base-beta-li;
  color: $base-alpha-li;
}
.service:hover p {
  color: $base-alpha-li;
}
.service:hover .underline {
  background: $base-alpha-li;
}
@media screen and (min-width: $tablet-width) {
  .services-center {
    display: grid;
    grid-template-columns: 1fr;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}
@media screen and (min-width: $desktop-width) {
  .services-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*
===============
Experiences
===============
*/
.experience-container {
  background-color: $white;
}

/*
===============
Timeline
===============
*/

/* The line */
.vertical-timeline.vertical-timeline-custom-line {
  &::before {
    background: #424242;
  }
}

/* Icon container's border */
.vertical-timeline.vertical-timeline-custom-line {
  .vertical-timeline-element--work {
    .vertical-timeline-element-icon {
      box-shadow: 0 0 0 4px #1976d2, inset 0 2px 0 rgba(0, 0, 0, 0.08),
        0 3px 0 4px rgba(0, 0, 0, 0.05);
    }
  }
}

.vertical-timeline.vertical-timeline-custom-line
  .vertical-timeline-element--education
  .vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px #c2185b, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.timeline-icons {
  background: #2196f3;
  color: #fff;
}

.timeline-icons-alt {
  background: #e91e63;
  color: #fff;
}

.timeline-date {
  color: $white;
}
.closeMktg {
  font-size: 3rem;
  color: $white;
  margin-left: 80%;
}

/*
===============
Projects
===============
*/
.projects {
  background: $background-color;
}
.projects-center {
  display: grid;
  white-space: nowrap;
}
.project {
  margin-bottom: 4rem;
}

.project-details {
  padding: 1rem;
}
.project-img {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  object-fit: cover;
  width: 100%;
}

.container-info {
  background: $white;
  color: $font-secondary-li;
  box-shadow: $dark-shadow;
  transition: $transition;
  &:hover {
    box-shadow: $light-shadow;
    transform: translateY(5px);
  }
}

.container-info h3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 27px;
  color: $font-primary-li;
}

.project-text {
  border-bottom: $underline;
  padding-bottom: $bottom-padding;
  margin-bottom: 1.5rem;
  color: $font-secondary-li;
  letter-spacing: 0.1em;
}

.project-stack {
  margin-bottom: 1rem;
  display: grid;
}

.stacks {
  text-align: center;
  color: $btn-primary-li;
  border-radius: $radius;
}
.icons {
  margin: 0 auto;
  display: block;
}
.project-icon {
  color: $font-red-li;
  font-size: 1.25rem;
  margin-right: 0.5rem;
  transition: $transition;
  &:hover {
    color: grey;
  }
}

@media screen and (min-width: $mobile-width) {
  .project-img {
    height: 19rem;
  }
}
@media screen and (min-width: $tablet-width) {
  .project-img {
    height: 22rem;
  }
}
@media screen and (min-width: $desktop-width) {
  .projects-center {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5em;
  }
  .project {
    margin: 1rem 0.75rem;
  }
  .project-img {
    box-shadow: $light-shadow;
  }
  .container-info {
    border-radius: $radius;
    box-shadow: $dark-shadow;
  }

  .icons {
    font-size: 2em;
  }
  .project-stack {
    grid-template-columns: repeat(3, 1fr);
  }
  .project-icon {
    font-size: 2rem;
  }
}

/*
===============
Blogs
===============
*/
.blogs {
  display: flex;
  justify-content: center;
}

.blog {
  margin-bottom: 3rem;
  padding: 5em;
}

.blog-img {
  box-shadow: $light-shadow;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  object-fit: cover;
  width: 100%;
}

@media screen and (min-width: $mobile-width) {
  .blog-img {
    height: 15rem;
  }
}
@media screen and (min-width: $tablet-width) {
  .blog-img {
    height: 18rem;
  }
}
@media screen and (min-width: $desktop-width) {
  .blog-img {
    height: 20rem;
  }
}

/*
===============
Footer
===============
*/
.footer {
  height: 9rem;
  background: #222;
  text-align: center;
  display: grid;
  place-items: center;
}
.footer h4 {
  margin-top: 0.5rem;
  color: $font-grey-li;
  font-weight: normal;
}
.footer h4 span {
  color: $font-grey-li;
}
.footer-links {
  margin: 0 auto 1rem auto;
}
.footer .social-link {
  color: $font-grey-li;
}
.footer .social-link:hover {
  color: $white;
}

/*
===============
Preload
===============
*/

.pre-load {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
===============
About Page
===============
*/
.about-page {
  padding: 7rem 0;
}
.about-img {
  margin-bottom: 2rem;
  height: 25rem;
  border: 5px solid $btn-primary-li;
  border-radius: 30%;
}
.about-text .section-title {
  margin-bottom: 2rem;
}
.about-text p {
  line-height: 2;
}
.stack-container {
  width: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 0.5rem;
}
.stack-container span {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: grey;
}
.stack-icon {
  color: grey;
  margin-right: 0.25rem;
  font-size: 1rem;
}

.about-stack {
  margin-bottom: 1rem;
  display: grid;
}

.stacks {
  text-align: center;
  color: $btn-primary-li;
  border-radius: $radius;
}
.icons {
  margin: 0 auto;
  display: block;
}
@media screen and (min-width: $tablet-width) {
  .about-center {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    column-gap: 4rem;
  }
  .about-img {
    grid-column: 1 / span 5;
    margin-bottom: 0;
  }
  .about-text {
    grid-column: 6 / -1;
  }

  .about-stack {
    grid-template-columns: repeat(4, 1fr);
  }
}
/*
===============
Contact Page
===============
*/
.contact-page {
  display: grid;
  place-items: center;
  padding: 5rem 0;
}
.contact-form {
  background: $white;
  border-radius: $radius;
  transition: $transition;
  width: 90vw;
  max-width: 35rem;
}

.contact-form h3 {
  padding-top: 1.25rem;
  color: grey;
  text-transform: uppercase;
  padding-bottom: $bottom-padding;
  border-bottom: $underline;
}

.form-group {
  padding: 1rem 0;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  margin-bottom: 1.25rem;
  background: grey;
  border-radius: $radius;
  text-transform: uppercase;
  letter-spacing: $spacing;
}
.form-control::placeholder {
  font-family: $ff-primary;
  color: $white;
  text-transform: uppercase;
  letter-spacing: $spacing;
}
.submit-btn {
  display: block;
  width: 100%;
  border-radius: $radius;
  border: 0;
  text-transform: uppercase;
  font-family: $ff-titles;
  cursor: pointer;
  font-weight: 700;
  height: 3.75em;
  letter-spacing: 0.1em;
  line-height: 3.75em;
  padding: 0 2.25em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.submit-btn:hover {
  background-color: $base-alpha-li;
  transition: $transition;
  color: $white;
}
