/*
==============
Variables
===============
*/
// Global
$spacing: 0.1rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
$max-width: 1170px;

//Font families
$ff-primary: "Noto Sans", sans-serif;
$ff-secondary: "Open Sans", sans-serif;
$ff-titles: "Raleway", "Helvetica", sans-serif;

$spacing: 0.15rem;
$transition: all 0.3s linear;
$radius: 0.25rem;
$underline: 2px solid rgba(0, 0, 0, 0.2);
$bottom-padding: 1em;

$desktop-width: 1170px;
$tablet-width: 768px;
$mobile-width: 360px;
